html,
body {
  height: 100%;
}

/* Colors */
.is-light-grey {
  color: rgba(0, 0, 0, 0.25);
}

.has-white {
  background-color: #fff;
}

/* Utils */
.w-100 {
  width: 100%;
}

.p-2 {
  padding: 24px;
}

.mb-2 {
  margin-bottom: 24px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.center-text {
  text-align: center;
}

/* Components */
.user-login {
  margin-top: 8%;
}

.user-registration {
  margin-top: 8%;
  min-width: 400px;
}
