html,
body {
  height: 100%;
}

/* Colors */
.is-light-grey {
  color: rgba(0, 0, 0, 0.25);
}

.is-white {
  color: #fff;
}

.has-white {
  background-color: #fff;
}

/* Utils */
.w-100 {
  width: 100%;
}

.p-2 {
  padding: 24px;
}

.mb-2 {
  margin-bottom: 24px;
}

.display-center {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.center-text {
  text-align: center;
}

/* Components */
.user-login {
  margin-top: 8%;
}

.user-registration {
  margin-top: 8%;
  min-width: 400px;
}
.sidebar-icon {
  font-size: 16px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar-icon:hover {
  color: #1890ff;
}

.sidebar-logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
